<a href="https://colab.research.google.com/github/MaaviaAsghar4/US_Accidents_Analysis-EDA-/blob/main/US_Accidents_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Kaggle DataSet

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [7]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"

In [8]:
%cd /content/gdrive/My Drive/Kaggle

/content/gdrive/My Drive/Kaggle

In [9]:
!kaggle datasets download -d sobhanmoosavi/us-accidents

Downloading us-accidents.zip to /content/gdrive/My Drive/Kaggle
 98% 285M/290M [00:11<00:00, 35.9MB/s]
100% 290M/290M [00:11<00:00, 25.9MB/s]

In [ ]:
ls

In [10]:
!unzip \*.zip  && rm *.zip

Archive:  us-accidents.zip
replace US_Accidents_Dec20_Updated.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [11]:
ls

kaggle.json  US_Accidents_Dec20_Updated.csv

# Importing Necessary Libraries and DataSet

In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('US_Accidents_Dec20_Updated.csv')
data.head()

    ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0  A-1         2  ...               Day                   Day
1  A-2         2  ...               Day                   Day
2  A-3         2  ...             Night                 Night
3  A-4         2  ...               Day                   Day
4  A-5         3  ...               Day                   Day

[5 rows x 47 columns]

# Data Cleaning and Preparation

In [29]:
data.isna().sum()

ID                             0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                   282821
End_Lng                   282821
Distance(mi)                   0
Description                    0
Number                   1891672
Street                         0
Side                           0
City                         108
County                         0
State                          0
Zipcode                     1114
Country                        0
Timezone                    3430
Airport_Code                6608
Weather_Timestamp          46917
Temperature(F)             67224
Wind_Chill(F)            1183859
Humidity(%)                71270
Pressure(in)               56908
Visibility(mi)             72078
Wind_Direction             63474
Wind_Speed(mph)           307163
Precipitation(in)        1301326
Weather_Condition          71851
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset               110
Civil_Twilight               110
Nautical_Twilight            110
Astronomical_Twilight        110
dtype: int64

In [32]:
# Removing unnecessary columns
data = data.drop(['End_Time','End_Lat','End_Lng','Distance(mi)','Description','Number','Side','Street','Astronomical_Twilight','Nautical_Twilight','Civil_Twilight','Sunrise_Sunset','Precipitation(in)','Wind_Speed(mph)','Wind_Direction','Visibility(mi)','Pressure(in)','Wind_Chill(F)'],axis=1)

## Start Time of Accidents

In [37]:
# Converting start time of accidents to datetime object
pd.to_datetime(data['Start_Time'])

0         2019-05-21 08:29:55
1         2019-10-07 17:43:09
2         2020-12-13 21:53:00
3         2018-04-17 16:51:23
4         2016-08-31 17:40:49
                  ...
2906605   2018-06-28 08:49:01
2906606   2019-01-10 02:01:01
2906607   2020-11-23 12:52:00
2906608   2019-12-29 22:38:00
2906609   2018-03-26 13:35:03
Name: Start_Time, Length: 2906610, dtype: datetime64[ns]

## States in which Accidents Occur

In [ ]:
# Replacing missing city values with county values
data['City'] = data['City'].fillna(data['County'])
data[data['City'].isna() == True]

In [ ]:
# Combining city,county, and state values
data['States'] = data[['City', 'County', 'State']].apply(lambda x: ', '.join(x), axis=1)
data.head()

In [ ]:
# droping city, county and state column
data = data.drop(['City', 'County', 'State'],axis=1)

In [56]:
data = data.drop(['Country'],axis=1)

In [58]:
# Removing further unnecessary columns
data = data.drop(['Zipcode','Timezone','Airport_Code','Weather_Timestamp'],axis=1)

In [59]:
data.head()

    ID  Severity  ... Turning_Loop                        States
0  A-1         2  ...        False    Greenville, Greenville, SC
1  A-2         2  ...        False    Charlotte, Mecklenburg, NC
2  A-3         2  ...        False    Los Gatos, Santa Clara, CA
3  A-4         2  ...        False      Carson City, Douglas, NV
4  A-5         3  ...        False  Fort Lauderdale, Broward, FL

[5 rows x 22 columns]

## Cleaning and preparing weather_condition, temperature, and humidity value

In [ ]:
data.head()

# Data Analysis and Visualization

## Tasks
1. State that has highest number of accidents
2. At what time do accidents usually occur in US
3. Visualize US accidents
4. Factors affecting accidents severity

# Inferences and Conclusion